*{
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')
}

* {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header{
  max-width: 81%;
  margin: 0 auto;
 

}
nav{
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.icon-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-travel{
  color: #FF5400;
}


nav ul{
  display: flex;
  
}
nav li{
 list-style: none;
 margin-right: 44px;
}
.banner{
  
  width: 81%px;
  height: 500PX;
  margin: 0 auto;
  justify-content: center;
  align-items: center; background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-title{
  color: #FFF;
font-size: 64px;
font-weight: 600;

}
.banner-description{
  width: 676px;
  color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;

}

.box{

padding: 16px;
align-items: flex-start;
gap: 24px;
  border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.btn-primary{
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
border: none;
}
.btn-secoundery{
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: none;
}
main{
  max-width: 81%;
  margin: 0 auto;
}
.tour-container{
  display: flex;
  justify-content:space-between;
}
.tours-title{
  color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
l

}
.tour-description1{

 color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;

}
.tours-li{
  width: 525px;
width: 525px;
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;

}
.tour-description2{
width: 530px;
color: #5A5A5D;
font-size: 16px;
font-weight: 400;

}
.tours-img{

  width: 100%;
height: 100%;

}

.destination{
 
  margin: 0 135px;
  justify-content: center;
  align-items: center;
  
}
.destination-title{
  color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.destination-description{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
text-align: center;
justify-content: center;

}
.row-1{
  display: flex;
  
}
.img-5{
  width: 90%;
}
  .img-8{
    width: 90%;
  }






footer{
  width: 100%;
  height: 500px;
  padding-top: 110px;

  background: rgba(19, 19, 24, 0.05);
  
}

.footer-description{
  width: 769px;
  padding: 15px 335px 50px;
justify-content: center;
text-align: center;
text-wrap: wrap;

}
.footer
  